@font-face {
	font-family: "Outfit Black";
	src: url("fonts/Outfit\ Black.ttf");
}

@font-face {
	font-family: "Outfit ExtraBold";
	src: url("fonts/Outfit\ ExtraBold.ttf");
}

@font-face {
	font-family: "Bebas Neue";
	src: url("fonts/Bebas\ Neue.ttf");
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

body {
	background-color: #c6c6c6;
	aspect-ratio: 16 / 9;
	width: min(100vw, calc(100vh * (16 / 9)));
	border-style: dashed;
	/* background-image: url("SBHS.jpeg"); */
	background-size: contain;
	container-type: inline-size;
}

.frame {
	aspect-ratio: 16 / 9;
	width: 100cqw;
	position: absolute;
	overflow: hidden;
}

.priestess {
	height: 100%;
	width: 100%;
	background-image: url("priestess.png");
	background-repeat: no-repeat;
	background-size: 205%;
	background-position: 44% 38.75%;
	opacity: 35%;
	position: relative;
}

.lynchpin {
	font-family: "Bebas Neue";
	font-kerning: none;
	letter-spacing: 0.05cqw;
	font-size: 28cqw;
	text-align: center;
	-webkit-text-stroke: 1px black;
	color: transparent;
	opacity: 12%;
	transform: translate(-50%, -51%);
	top: 52.5%;
	left: 49.7%;
	position: absolute;
}

.lynchpin_reflect {
	font-family: "Bebas Neue";
	font-kerning: none;
	letter-spacing: 0.05cqw;
	font-size: 28cqw;
	text-align: center;
	transform: rotatex(180deg) translate(-50%, 50%);
	top: 11%;
	left: 49.8%;
	position: absolute;
	opacity: 54%;
	background: linear-gradient(to top, #949494 30%, #b6b6b6 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.lynchpin_img {
	opacity: 10%;
	width: 100%;
	height: auto;
	position: absolute;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 100%;
}

h1 {
	font-family: "Outfit Black";
	font-weight:600;
	font-size: 9.6cqw;
	color: #313131;
	margin: 0;
	position: absolute;
	transform: translate(0, -50%);
	top: 49.75%;
}

h2 {
	font-family: "Outfit ExtraBold";
	font-size: 4.4cqw;
	letter-spacing: -0.037em;
	color: white;
	background: #313131;
	margin: 0;
	line-height: 0.85;
	padding-left: 0.05em;
	padding-right: 0.07em;
	position: absolute;
	transform: translate(0, -50%);
	top: 60.9%;
}